body{
    text-align:center;
    word-wrap:break-word;
}
.container{
    border:1px solid black;
    padding:5px;
}
.row{
    margin-top:20px;
}
article img{
    width:250px;
    height:250px;
}

ul{
    list-style:none;
    padding-left:0;
}

a{
    color:black;
    text-decoration:underline;
}
